.container-fluid
  = render 'header'
  %section.row.quote
    .col-md-10.col-md-offset-1
      %blockquote
        %p= t '.quote.quote'
        %footer= t '.quote.author'
  = render 'features', features: { full: :expand, speed: :flash, devices: :mobile }, html_class: ''
  = render 'features', features: { share: 'share-alt', search: :binoculars, analytics: 'line-chart' }, html_class: ''
  = render 'features', features: { font: :font, ads: :tag, edit: :refresh }, html_class: 'odd'
  = render 'examples'
  %section.row.quote
    .col-md-10.col-md-offset-1
      %blockquote
        %p= t '.quote2.quote'
        %footer= t '.quote2.author'
  = render 'pricing'
  = render 'register'
  -# .background
    - if params['preview']
      %video#header-video{poster: asset_path('home.png'), preload: 'auto', autoplay: 'true', loop: 'loop', muted: 'muted', volume: '0'}
        %source{src: 'https://s3-eu-west-1.amazonaws.com/static.soslide.com/video/home.mp4', type:'video/mp4'}
        %source{src: 'https://s3-eu-west-1.amazonaws.com/static.soslide.com/video/home.webm', type:'video/webm'}
  -#%section#register.row
    .col-md-5.col-md-offset-1
      %h1
        =t '.register.title'
      %h1
        %small= t '.register.subtitle'
    .col-md-4
      = simple_form_for @site do |f|
        = f.input :email, placeholder: 'your@email.com', input_html: { class: 'input-lg' }
        .site-name
          %span.url= ".#{ENV['SITES_DOMAINS']}"
          = f.input :name, label: '', input_html: { class: 'input-lg'}
        = f.submit t('.try'), class: 'btn btn-lg btn-success'
        = link_to t('.log_in'), login_sites_path
