.col-sm-12
  .row
    .col-sm-12
      = simple_form_for @page, html: {class: 'edit_page form-inline warn-on-exit'} do |f|
        =link_to page_path(@page), class: 'btn btn-danger btn-lg', method: :delete, data: { confirm: t('confirm') }, title: t('.delete_page', default: 'Delete page') do
          .fa.fa-trash-o
        = f.input :name, input_html: { class: 'input-lg' }
        = f.input :theme, collection: %w[light dark], prompt: false, input_html: {class: 'input-lg'}
        = f.submit class: 'btn btn-primary btn-lg'
        .admin-advanced
          = f.input :description_html, class: 'advanced-admin', input_html: { rows: 8 }
  .row
    #image-edit.col-sm-12
      %h3
        =t '.Images'
        %small= t('.images_description')
      = render 'images/form', image: @image
      %ul.image-list.sortable
        = render partial: 'images/image_edit', collection: @page.images, as: :image
