.page
  .row
    .col-sm-3
      %h1= @page.name
      =link_to 'delete', site_page_path(site_id: @site, id: @page), method: :delete
      = simple_form_for [@site, @page] do |f|
        = f.input :name
        = f.input :description, input_html: { rows: 8 }
        = f.submit class: 'btn btn-primary'
      %h2 Images
      %ul
        -@page.images.each do |image|
          %li
            =image_tag image.image.url(:thumbnail), title: image.description

        - url = site_page_images_url(site_id: @site, page_id: @page)
        = form_tag(Cloudinary::Utils.cloudinary_api_url, method: :post, multipart: true) do
          - params =  Cloudinary::Uploader.build_upload_params(callback: url)
          - params[:signature] = Cloudinary::Utils.api_sign_request(params, Cloudinary.config.api_secret)
          - params[:api_key] = Cloudinary.config.api_key
          - params.each do |name, value|
            = hidden_field_tag(name, value, :id => nil) if value.present?
          %input{type: :file, name: :file}
          %input{name: :commit, type: :submit, value: 'Upload'}

    .col-sm-9
      %h1 Preview
      %iframe{src: "#{site_page_path(site_id: @site, id: @page)}", style: 'height: 800px; width: 100%;'}
