.col-sm-12
  .row
    .col-sm-12
      %h1
        = @page.name
        =link_to t('.preview'), page_path(site_id: @site, id: @page), class: 'btn btn-success', target: '_blank'
        =link_to t('.delete'), page_path(site_id: @site, id: @page), class: 'btn btn-danger', method: :delete, confirm: t('.delete_confirm', default: 'Are you sure ?')
  .row
    .col-sm-4
      %h3=t('.content')
      = simple_form_for @page do |f|
        = f.input :name
        .control-group.text.optional.page_description
          %label.text.optional.control-label{for: 'page_description'} Description
          .controls
            .wmd-panel
              #wmd-button-bar
              %textarea.text.optional.form-control#wmd-input{name: 'page[description]', rows: '8'}= f.object.description
              #wmd-preview.wmd-panel.wmd-preview= f.object.description_rendered.html_safe
        .admin-advanced
          = f.input :description_html, class: 'advanced-admin', input_html: { rows: 8 }
        = f.submit class: 'btn btn-primary'
    #image-edit.col-sm-8
      %h3=t '.Images'
      - url = page_images_url(site_id: @site, page_id: @page)
      = form_tag(Cloudinary::Utils.cloudinary_api_url, method: :post, multipart: true, class: 'fileupload') do
        .uploading{style: 'display: none'}
          .upload_in_progress
            %h1=t('.upload_in_progress')
            = t('.upload_in_progress_link_html', link: edit_page_path(id: @page), default: '<a href="%{link}" class="btn btn-success" target="_blank">Continue to edit the site</a>')
          .progress
            .progress-bar
        - params =  Cloudinary::Uploader.build_upload_params(callback: url, type: :private)
        - params[:signature] = Cloudinary::Utils.api_sign_request(params, Cloudinary.config.api_secret)
        - params[:api_key] = Cloudinary.config.api_key
        - params.each do |name, value|
          = hidden_field_tag(name, value, id: nil) if value.present?
        %input{type: :file, name: :file, multiple: true}
        %input{name: :commit, type: :submit, value: 'Upload'}
      %ul.image-list
        -@page.images.each do |image|
          = render 'images/image_edit', image: image
