.col-md-12
  %h1= @site.title
  .row
    - @site.pages.each do |page|
      - if page.images.first
        .page.col-xs-12.col-md-4
          = link_to page_path(page) do
            %h2= page.name
            = image_tag page.images.first.url(:full), alt: page.name, title: page.name, class: 'img-responsive'
          - page.images.each_with_index do |i,index|
            - if index != 0
              = image_tag i.url(:icon), alt: page.name, title: page.name, class: 'img-responsive'
      -#.col-md-12
        %h3= page.name
      -#.col-md-12
        .row
          - page.images.each do |image|
            .col-md-3.col-lg-2.col-xs-4
              = link_to s_image_path(page_id: page, id: image) do
                = image_tag image.image.url(:thumbnail), alt: image.legend, title: image.legend, class: 'img-responsive'
