- content_for :page_title, "#{@site.title} #{@pages.map(&:name).join(' ')}"
.col-xs-12.preloadable.scrollhistory{ id: "main-nav", data: { url: pages_path, title: title } }
  - x = Math.sqrt(@pages_count).ceil
  - y = (@pages_count.to_f / x.to_f).ceil
  - x,y = [y,x]
  - @pages.each_slice(x).with_index do |pages, index|
    - percent = (1/y.to_f*100).round
    - if index+1 == y
      - percent = 101 - index * percent
    .pages-row{style: ("height: #{percent}%")}
      - pages.each do |page|
        .page
          .wrapper
            = link_to s_page_path(id: page) do
              %h2= page.name
            = my_image_tag page.images.first, :full, alt: page.name, title: page.name
