.main
  .page.row
    - if @description.present?
      .message.col-md-3
        #description
          = @description

    - images = @page.images.to_a
    - first_image = images.shift
    - images = capture_haml do
      = render images
    .images.col-md-9.rotation
      -#{:'data-images' => images}
      = render first_image if first_image
    = render 'layouts/nav', site: @site
