.col-md-4.col-md-offset-4
  %h2= t '.title'
  = simple_form_for resource, as: resource_name, url: update_user_confirmation_path, html: {method: 'patch'} do |f|
    = hidden_field_tag :confirmation_token, params['confirmation_token']
    = f.input :password, autofocus: true, label: false
    = f.submit t('.submit'), class: 'btn btn-success btn-lg', data: { 'disable-with'=> t('loading') }
