- breadcrumb @site
.col-md-9.col-md-push-3
  %h1= t '.pages'
  - if @site.pages.count == 0
    .alert.alert-info
      = t '.no_pages'
  %ul.pages.sortable
    = render partial: 'page', collection: @site.pages, as: :page, locals: { site: @site }
    %li.not-sortable
      .page.new
        = link_to new_site_page_path(site_id: @site), id: 'new_page' do
          .fa.fa-plus
.col-md-3.col-md-pull-9
  .row
    .col-md-12
      %h1= t('.edit_site')
      = simple_form_for @site,  html: { class: 'warn-on-exit' } do |f|
        = f.input :title, input_html: {class: 'input-lg'}, label: false
        = f.input :description, as: :text, input_html: { rows: 10 }
        = f.input :language, collection: LanguageList::COMMON_LANGUAGES.map{|l| [l.name, l.iso_639_1]}, prompt: false
        = f.input :font_header, as: :select, collection: Font.families
        = f.input :font_body, as: :select, collection: Font.families
        - if params[:advanced]
          %p
            %span.caret
            = link_to t('.advanced'), url_for(advanced: nil)
          = f.input :domain
          = f.input :twitter_id
          = f.input :facebook_id
          = f.input :facebook_app_id
          = f.input :google_plus_id
          = f.input :google_analytics_id
        - else
          %p
            %span.caret
            = link_to t('.advanced'), url_for(advanced: true)
        .admin-advanced
          = f.input :metas, as: :text, input_html: { rows: 4 }
          = f.input :favicon, as: :file
          .alert.alert-warning
            = t '.warning', default: 'It can take some time before the favicon gets updated...'
          = f.input :css, input_html: { rows: 30}
        = f.submit class: 'btn btn-primary', data: { 'disable-with'=> t('loading') }
  .row
    .col-md-12
      %h1= t('.delete')
      .alert.alert-danger
        %p= t('.delete_warning')
        = link_to site_path(@site), method: :delete,  class: 'btn btn-danger', data: { confirm: t('confirm') } do
          .fa.fa-trash-o
          = t('.delete')
