- breadcrumb :sites
.col-md-8.col-md-offset-2
  %h1
    = t('.sites')
  %table.table.table-striped
    %thead
      %tr
        %td=t '.name'
        %td=t '.sections'
        %td=t '.images'
        %td=t '.open'
    %tbody
      - @sites.each do |site|
        %tr
          %td
            = link_to edit_site_path(id: site) do
              = site.title
          %td= site.sections.count
          %td= site.images.count
          %td
            = link_to site_url(site), class: 'btn btn-link', target: '_blank' do
              = site_url(site)
              .fa.fa-external-link
  = link_to t('.new'), new_site_path, class: 'btn btn-success'
