.col-md-8.col-md-offset-2
  %h1
    = t('.sites')
    %small
      = current_user.email
      = link_to t('.logout'), destroy_user_session_path, class: 'btn btn-link'
  %table.table.table-striped
    %thead
      %tr
        %td=t '.name'
        %td=t '.pages'
        %td=t '.images'
        %td=t '.open'
        %td=t '.destroy'
    %tbody
      - @sites.each do |site|
        %tr
          %td
            = link_to edit_site_path(site) do
              = site.title
          %td= site.pages.count
          %td= site.images.count
          %td
            = link_to site_url(site), class: 'btn btn-link', target: '_blank' do
              .fa.fa-external-link
          %td
            = link_to site_path(site), method: :delete,  class: 'btn btn-danger', data: { confirm: t('confirm') } do
              .fa.fa-trash-o
  = link_to new_site_path, class: 'btn btn-success' do
    .fa.fa-plus
