= render 'navbar', site: @site
.page
  .content
    .message
      #description
        %img{alt: "Studio CuiCui | photographie | Paris | Aude Boissaye et Sébastien Randé", height: "56", src: "http://looksnice.ch/cuicui/images/Logo/Logo-Studio-CuiCui_transp_300px.png", width: "262"}/
        = @description
    .images.rotation
      - %w[_CUI0430.jpg _DSF2952.jpg _IMG2537-Modifier.jpg _IMG6142.jpg _IMG6812.jpg _IMG7906.jpg _NK20653.jpg _NKA5531.jpg 110124_113608.jpg 120623_110242-2.jpg 120803_144131.jpg 121001_113238-2.jpg].each_with_index do |image, i|
        .image{id: "test#{i}"}
          .viewer
            .content
              = image_tag "http://looksnice.ch/cuicui/images/sllideshow%20index/#{image}", title: 'test'
