.image.col-md-12.col-fullscreen{itemscope: '', itemtype: 'http://schema.org/Photograph', id: "image-#{image.id}", class: ('full' if image.full), 'data-url'=> s_image_path(page_id: image.page, id: image), 'data-title'=>image.seo_title}
  .viewer
    .content
      - unless defined? no_controls
        - unless image.first?
          = link_to s_page_path(id: image.page) , class: 'restart btn btn-default' do
            &#8593;
      .image-content{style: "#{'display: none;' unless image.content.present? || image.title.present?} #{image.content_css}"}
        - if image.title.present?
          %h1=image.title
        = image.content_rendered.html_safe
      = image_tag image.url(:full), alt: image.legend, title: image.legend, class: 'main-image', itemprop: 'url', style: "background-image: url(#{image.url(:full)}); #{image.image_css}"
      .image-description{ style: ('display: none;' unless image.legend.present?) }
        %span{itemprop: 'description'}= image.legend
      - unless defined? no_controls
        - if image.lower_item
          =link_to s_image_path(page_id: image.page, id: image.lower_item) , class: 'scroll control next preload', 'data-scroll'=> "#image-#{image.lower_item.id}" do
            %p next
        - if image.last?
          =link_to next_page_path(image.page) , class: 'scroll control next preload', 'data-scroll'=> "#next-page-#{image.page.id}" do
            %p next
        - if image.higher_item
          =link_to s_image_path(page_id: image.page, id: image.higher_item) , class: 'scroll control previous', 'data-scroll'=> "#image-#{image.higher_item.id}" do
            %p previous
        -# if image.last? and image.page.images.count > 1
          =link_to s_image_path(page_id: image.page, id: image.page.images.first) , class: 'control restart', 'data-scroll'=> "#image-#{image.page.images.first}" do
            %p Back to first image
        -# if image.higher_items.first
          =link_to s_image_path(page_id: image.page, id: image.higher_items.first) , class: 'control first preload' do
            %p= '<<'
  -# if image.last?
    .last-image-menu
      = link_to '', site_pages_path(site_id: image.site), class: 'index'
      %ul.nav.nav-pills.nav-stacked
        - image.page.site.pages.each do |page|
          %li{class: ('active' if page == image.page)}
            = link_to page.name, s_page_path(page)

  -#.image-progress
    -#%span.position=@image.position
    -#%span.sep /
    -#%span.total=@image.page.images.count
-content_for :page_title, image.seo_title
-content_for :head do
  - description = image.seo_description
  - image_url = image.url(:social)
  %meta{property: 'og:title', content: title}
  %meta{property: 'og:image', content: image_url}
  %meta{property: 'og:description', content: description}
  %meta{property: 'og:url', content: s_image_url(page_id: image.page, id: image)}
  %meta{property: 'og:site_name', content: image.page.site.title}
  %meta{property: 'og:see_also', content: root_url}
  %meta{property: 'og:type', content: 'article'}
  - facebook_app = ''
  - facebook_admin = ''
  - unless image.site.facebook_app_id.blank?
    %meta{property: 'og:app_id', content: image.site.facebook_app_id}
  - unless image.site.facebook_id.blank?
    %meta{property: 'fb:admins', content: image.site.facebook_id}

  %meta{property: 'twitter:card', content: 'photo'}
  %meta{property: 'twitter:title', content: title}
  %meta{property: 'twitter:image:src', content: image_url}
  - twitter_id = image.site.twitter_id
  - if twitter_id
    %meta{property: 'twitter:site', content: twitter_id}
    %meta{property: 'twitter:creator', content: twitter_id}

  - google_id= image.site.google_plus_id
  - unless google_id.blank?
    %link{rel: 'author', href: "https://plus.google.com/#{google_id}/posts"}
    %link{rel: 'publisher', href: "https://plus.google.com/#{google_id}"}

  -# <html itemscope itemtype="http://schema.org/Article">
  %meta{property: 'description', content: description}
  %meta{property: 'name', content: title}
  %meta{property: 'image', content: image_url}
