.image.col-md-12.col-fullscreen{itemscope: '', itemtype: 'http://schema.org/Photograph', id: "image-#{image.id}", class: 'full'}
  .viewer
    .content
      - unless defined? no_controls
        - if image.lower_item
          =link_to s_image_path(page_id: image.page, id: image.lower_item) , class: 'control next preload' do
            %p next
        - if image.higher_item
          =link_to s_image_path(page_id: image.page, id: image.higher_item), class: 'control previous preload', :'data-target-id' => "image-#{image.higher_item.id}" do
            %p previous
      = image_tag image.image.url(:full), alt: image.description, title: image.description, class: 'main-image', itemprop: 'url', style: "background-image: url('#{image.image.url(:full)}')"
      - if @image.description.present?
        .image-description
          %span{itemprop: 'description'}= @image.description
        -# if image.higher_items.first
          =link_to s_image_path(page_id: image.page, id: image.higher_items.first) , class: 'control first preload' do
            %p= '<<'
      -#.image-progress
        -#%span.position=@image.position
        -#%span.sep /
        -#%span.total=@image.page.images.count
