.image.col-md-12.col-fullscreen{itemscope: '', itemtype: 'http://schema.org/Photograph', id: "image-#{image.id}", class: ('full' if image.full)}
  .viewer
    .content
      - unless defined? no_controls
        - if image.lower_item
          =link_to s_image_path(page_id: image.page, id: image.lower_item) , class: 'control next preload' do
            %p next
        - if image.higher_item
          =link_to s_image_path(page_id: image.page, id: image.higher_item), class: 'control previous preload', :'data-target-id' => "image-#{image.higher_item.id}" do
            %p previous
      .image-content{style: "#{'display: none;' unless image.content.present? || image.title.present?} #{image.content_css}"}
        - if image.title
          %h1=image.title
        = image.content_rendered.html_safe
      = image_tag image.image.url(:full), alt: image.legend, title: image.legend, class: 'main-image', itemprop: 'url', style: "background-image: url('#{image.image.url(:full)}')"
      .image-description{ style: ('display: none;' unless image.legend.present?) }
        %span{itemprop: 'description'}= image.legend
        -# if image.higher_items.first
          =link_to s_image_path(page_id: image.page, id: image.higher_items.first) , class: 'control first preload' do
            %p= '<<'
      -#.image-progress
        -#%span.position=@image.position
        -#%span.sep /
        -#%span.total=@image.page.images.count
