.image
  .viewer
    .content
      - if image.description.present?
        .control.image-description
          %p= image.description
      = image_tag image.image.url(:full), alt: image.description, title: image.description
      - if image.lower_item
        =link_to image.lower_item , class: 'control previous preload' do
          %p= '<'
      - if image.higher_item
        =link_to image.higher_item, class: 'control next preload' do
          %p= '>'
      - if image.lower_items.first
        =link_to image.lower_items.last , class: 'control first preload' do
          %p= '<<'
      = link_to '#nav', class: 'control menu auto-hide anim' do
        %p
          = 'v'
          menu
          = 'v'
