.col-md-12
  .row
    .col-md-5
      = simple_form_for @image do |f|
        = f.input :description, input_html: {value: f.object.description }
        = f.input :full
        = f.input :content_css
        .control-group.text.optional.page_description
          %label.text.optional.control-label{for: 'image_content'} Description
          .controls
            .wmd-panel
              #wmd-button-bar
              %textarea.text.optional.form-control#wmd-input{name: 'image[content]', rows: '15'}= f.object.content
              #wmd-preview.wmd-panel.wmd-preview= f.object.content_rendered.html_safe
        = f.submit class: 'btn btn-primary'
        = link_to t('.cancel'), edit_page_path(@page), class: 'btn btn-default'
    .col-md-7
      =render 'pages/preview', url: s_image_path(page_id: @image.page, id: @image), drag_style: @image.content_css
