.col-md-12
  %h3.well
    =link_to edit_page_path(@image.page) do
      .fa.fa-arrow-left
      = @image.page.name
    %ul.images-icons
      - @image.page.images.each do |image|
        %li{:'data-id' => image.id}
          = link_to edit_image_path(image) do
            =image_tag image.url(:icon), title: image.legend, size: '60x60'
  .row
    .col-md-4
      = simple_form_for @image, html: { class: 'warn-on-exit' } do |f|
        = f.input :title, input_html: { class: 'input-lg'}
        .control-group.text.optional.page_description
          %label.text.optional.control-label{for: 'image_content'} Content
          .controls
            .wmd-panel
              #wmd-button-bar
              %textarea.text.optional.form-control#wmd-input{name: 'image[content]', rows: '5'}= f.object.content
              #wmd-preview.wmd-panel.wmd-preview= f.object.content_rendered.html_safe
        = f.input :legend, input_html: {value: f.object.legend }
        = f.input :full, as: :select, prompt: false
        %label= t '.image_position'
        .position-selector
          - selected = @image.image_css.present? ? @image.image_css.gsub(/.*background-position: (\w+) (\w+);.*/,'\1 \2') : 'center center'
          - %w(top center bottom).each do |vd|
            - %w(left center right).each do |hd|
              - value = "#{hd} #{vd}"
              = label_tag "image_position_#{value}",nil, class: 'position' do
                = radio_button :image, :css_position, value, :'data-style' => background_position_to_absolute(value), class: 'image-css-position', checked: (value == selected)
        = f.input :content_css
        = f.input :image_css
        = f.submit class: 'btn btn-primary pull-right'
        =link_to image_path( @image), class: 'btn btn-danger', method: :delete, data: { confirm: t('.delete_confirm', default: 'Are you sure ?') } do
          .fa.fa-trash-o
          = t('.delete_image')
    .col-md-8#previews
      .col-md-12
        .col-md-7
          %h3= t('.desktop')
          =render 'pages/preview', url: preview_image_path(@image), drag_style: @image.content_css, size: '1920x1080', style: 'desktop'
      .col-md-12
        .col-md-5
          %h3= t('laptop')
          =render 'pages/preview', url: preview_image_path(@image), drag_style: @image.content_css, size: '1366x768', style: 'laptop'
        .col-md-4
          %h3= t('tablet')
          =render 'pages/preview', url: preview_image_path(@image), drag_style: @image.content_css, size: '1010x660', style: 'tablet'
        .col-md-2
          %h3= t('phone')
          =render 'pages/preview', url: preview_image_path(@image), drag_style: @image.content_css, size: '640x1136', style: 'phone'
