!!!5
%html
  %head
    %title="#{(@site.title if @site)} #{yield(:page_title)}"
    %link{ rel: 'shortcut icon', href: cl_image_path('favicon', format: :ico)}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
    - if @site
      - if @site.metas.present?
        =raw @site.metas
      - begin
        - if @site.css.present?
          :sass
            #{@site.css}
      - rescue Exception=> e
        /
          = e.message
    - if cookies[:css_loaded].present?
      = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    - else
      %style{:'data-css' => asset_path('application.css')}
        =Rails.application.assets.find_asset('application.css').to_s.html_safe
    = csrf_meta_tags
  %body{ class: ("page-#{@page.name.parameterize}" unless @page.nil?) }
    = yield
    - if ENV['SEGMENT_IO'].present?
      :javascript
        window.analytics||(window.analytics=[]),window.analytics.methods=["identify","track","trackLink","trackForm","trackClick","trackSubmit","page","pageview","ab","alias","ready","group","on","once","off"],window.analytics.factory=function(t){return function(){var a=Array.prototype.slice.call(arguments);return a.unshift(t),window.analytics.push(a),window.analytics}};for(var i=0;i<window.analytics.methods.length;i++){var method=window.analytics.methods[i];window.analytics[method]=window.analytics.factory(method)}window.analytics.load=function(t){var a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=("https:"===document.location.protocol?"https://":"http://")+"d2dq2ahtl5zl1z.cloudfront.net/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n)},window.analytics.SNIPPET_VERSION="2.0.8",
        window.analytics.load("#{ENV['SEGMENT_IO']}");
        window.analytics.page();
    = render 'layouts/async_js' ,path: 'application'
