!!!5
%html{lang: (@site.language if @site) || 'en'}
  %head
    %title= title
    %link{ rel: 'shortcut icon', href: cl_image_path('favicon', format: :ico)}

    %meta{ name: 'google', content: 'notranslate' }
    %meta{ name: 'apple-mobile-web-app-capable', content: 'yes' }
    %meta{ name: 'apple-mobile-web-app-status-bar-style', content: 'black-translucent' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }
    = yield(:head)
    - if @site
      - if @site.metas.present?
        =raw @site.metas
      - begin
        - if @site.css.present?
          :sass
            #{@site.css}
      - rescue Exception=> e
        /
          = e.message
    - if @page
      = stylesheet_link_tag "application-#{@page.theme}", media: 'all', 'data-turbolinks-track' => true
    - else
      = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    -# if cookies[:css_loaded].present?
      - else
        %style{:'data-css' => asset_path('application.css')}
          =Rails.application.assets.find_asset('application.css').to_s.html_safe
    = csrf_meta_tags
  %body{ class: "#{body_class} #{("page-#{@page.name.parameterize} #{@page.theme}" unless @page.nil?)}" }
    = yield
    - if @site && @site.google_analytics_id
      :javascript
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '#{@site.google_analytics_id}', '#{ENV['DOMAIN']}');
        ga('send', 'pageview');
    - if ENV['SEGMENT_IO'].present?
      :javascript
        window.analytics||(window.analytics=[]),window.analytics.methods=["identify","track","trackLink","trackForm","trackClick","trackSubmit","page","pageview","ab","alias","ready","group","on","once","off"],window.analytics.factory=function(t){return function(){var a=Array.prototype.slice.call(arguments);return a.unshift(t),window.analytics.push(a),window.analytics}};for(var i=0;i<window.analytics.methods.length;i++){var method=window.analytics.methods[i];window.analytics[method]=window.analytics.factory(method)}window.analytics.load=function(t){var a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=("https:"===document.location.protocol?"https://":"http://")+"d2dq2ahtl5zl1z.cloudfront.net/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n)},window.analytics.SNIPPET_VERSION="2.0.8",
        window.analytics.load("#{ENV['SEGMENT_IO']}");
        window.analytics.page();
    = render 'layouts/async_js' ,path: 'application'
