!!!5
%html
  %head
    %title="#{(@site.name if @site)} #{yield(:page_title)}"
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
    - if @site and @site.css
      :css
        #{@site.css}
    - if cookies[:css_loaded].present?
      = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    - else
      %style{:'data-css' => asset_path('application.css')}
        =Rails.application.assets.find_asset('application.css').to_s.html_safe
    = csrf_meta_tags
  %body
    = yield
    = render 'layouts/async_js' ,path: 'application'
