- if site
  .col-md-12.col-fullscreen
    %nav.navbar.navbar-inverse{role: 'navigation'}
      %ul.nav.navbar-nav
        = tab_link edit_site_path(id: site) do
          .glyphicon.glyphicon-wrench
          = site.title
        - site.pages.each do |page|
          - unless page.new_record?
            - if @page and @page == page
              %li.active.with_positions
                - unless page.first?
                  =link_to move_higher_page_path(page), method: :put do
                    %span.glyphicon.glyphicon-chevron-left
                = link_to page.name, edit_page_path(id: page)
                - unless page.last?
                  =link_to move_lower_page_path(page), method: :put do
                    %span.glyphicon.glyphicon-chevron-right
            - else
              = tab_link(edit_page_path(id: page)) do
                = page.name
        = tab_link(new_site_page_path(site_id: site), html_options: { title: t('pages.add')}) do
          .glyphicon.glyphicon-plus
      %ul.nav.navbar-nav.pull-right
        %li
          .navbar-form
            = link_to preview_link, target: '_blank', class: 'btn btn-success', title: t('.see') do
              .fa.fa-eye
              = t '.see'
            = link_to destroy_user_session_path, class: 'btn btn-danger', title: 'log out' do
              .fa.fa-sign-out
