.col-md-12.nav
  %nav.navbar.navbar-inverse{role: 'navigation'}
    %ul.nav.navbar-nav
      %li
        = tab_link edit_site_path(id: site) do
          .glyphicon.glyphicon-wrench
      - site.pages.each do |page|
        - unless page.new_record?
          - if @page and @page == page
            %li.active.with_positions
              - unless page.last?
                =link_to move_lower_page_path(page), method: :put do
                  %span.glyphicon.glyphicon-chevron-left
              = link_to page.name, edit_page_path(id: page)
              - unless page.first?
                =link_to move_higher_page_path(page), method: :put do
                  %span.glyphicon.glyphicon-chevron-right
          - else
            %li
              = tab_link(edit_page_path(id: page)) do
                = page.name
      = tab_link(new_site_page_path(site_id: site), html_options: { id: 'new_page'} ) do
        .glyphicon.glyphicon-plus
      %li.pull-right
        = link_to destroy_user_session_path do
          Log out
