%nav.navbar.navbar-fixed-top.navbar-inverse{role: 'navigation'}
  .navbar-header
    %button.navbar-toggle{'data-target' => '#nav-content', 'data-toggle' => 'collapse', type: 'button'}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    = link_to edit_site_path(id: site), class:'navbar-brand' do
      .glyphicon.glyphicon-wrench
  #nav-content.collapse.navbar-collapse
    %ul.nav.navbar-nav
      - site.pages.each do |page|
        - unless page.new_record?
          - if @page and @page == page
            %li.active.with_positions
              - unless page.last?
                =link_to move_lower_page_path(page), method: :put do
                  %span.glyphicon.glyphicon-chevron-left
              = link_to page.name, edit_page_path(id: page)
              - unless page.first?
                =link_to move_higher_page_path(page), method: :put do
                  %span.glyphicon.glyphicon-chevron-right
          - else
            = tab_link(edit_page_path(id: page)) do
              = page.name
      = tab_link(new_site_page_path(site_id: site), html_options: { id: 'new_page'} ) do
        .glyphicon.glyphicon-plus
    %ul.nav.navbar-nav.navbar-right
      %li
        = link_to destroy_user_session_path do
          %i.glyphicon.glyphicon-log-out
