!!!5
%html{html_attrs(@site ? @site.language : :en)}
  %head
    %meta{:charset => "utf-8"}
    - title = "#{(@site.title if @site)} #{yield(:section_title)} #{t('.title')}".strip
    %title= title.html_safe
    %meta{ name: 'description', content: title}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
    - I18n.available_locales.each do |locale|
      %link{ rel: :alternate, href: url_for(locale: locale), hreflang: locale }
    %link{ rel: :alternate, href: url_for(locale: nil), hreflang: 'x-default' }
    = render 'layouts/javascript_class'
    = stylesheet_link_tag "//fonts.googleapis.com/css?family=Ubuntu", media: 'all'
    = stylesheet_link_tag 'admin', media: 'all'
    = javascript_include_tag 'admin'
    = csrf_meta_tags
    = render 'layouts/analytics'
    %meta{ name: 'theme-color', content: '#4cb27c' }
    %link{:href => "/apple-touch-icon-57x57.png", :rel => "apple-touch-icon", :sizes => "57x57"}/
    %link{:href => "/apple-touch-icon-114x114.png", :rel => "apple-touch-icon", :sizes => "114x114"}/
    %link{:href => "/apple-touch-icon-72x72.png", :rel => "apple-touch-icon", :sizes => "72x72"}/
    %link{:href => "/apple-touch-icon-144x144.png", :rel => "apple-touch-icon", :sizes => "144x144"}/
    %link{:href => "/apple-touch-icon-60x60.png", :rel => "apple-touch-icon", :sizes => "60x60"}/
    %link{:href => "/apple-touch-icon-120x120.png", :rel => "apple-touch-icon", :sizes => "120x120"}/
    %link{:href => "/apple-touch-icon-76x76.png", :rel => "apple-touch-icon", :sizes => "76x76"}/
    %link{:href => "/apple-touch-icon-152x152.png", :rel => "apple-touch-icon", :sizes => "152x152"}/
    %link{:href => "/apple-touch-icon-180x180.png", :rel => "apple-touch-icon", :sizes => "180x180"}/
    %meta{:content => "Evlaa", :name => "apple-mobile-web-app-title"}/
    %link{:href => "/favicon-192x192.png", :rel => "icon", :sizes => "192x192", :type => "image/png"}/
    %link{:href => "/favicon-160x160.png", :rel => "icon", :sizes => "160x160", :type => "image/png"}/
    %link{:href => "/favicon-96x96.png", :rel => "icon", :sizes => "96x96", :type => "image/png"}/
    %link{:href => "/favicon-16x16.png", :rel => "icon", :sizes => "16x16", :type => "image/png"}/
    %link{:href => "/favicon-32x32.png", :rel => "icon", :sizes => "32x32", :type => "image/png"}/
    %meta{:content => "#2d89ef", :name => "msapplication-TileColor"}/
    %meta{:content => "/mstile-144x144.png", :name => "msapplication-TileImage"}/
    %meta{:content => "Evlaa", :name => "application-name"}/
  %body{ class: body_class }
    = render 'layouts/update'
    = render 'layouts/user_navbar', site: @site, section: @section, image: @image
    = render 'layouts/breadcrumbs'
    = render 'layouts/flashs'
    = yield
  - if current_user
    = intercom_script_tag({ user_id: Digest::SHA1.hexdigest("#{ENV['DOMAIN']}-#{current_user.email}"),
                            email: current_user.email,
                            created_at: current_user.created_at,
                            custom_data: {sections: Section.count, images: Image.count, site: ENV['DOMAIN']}})
