!!!5
%html{html_attrs(defined?(@site)? @site.language : :en)}
  %head
    %meta{:charset => "utf-8"}
    %title="#{(@site.title if @site)} #{yield(:page_title)}"
    %link{ rel: 'shortcut icon', href: cl_image_path('favicon', format: :ico)}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
    = stylesheet_link_tag 'admin', media: "all"
    = javascript_include_tag 'admin'
    = csrf_meta_tags
  %body{class: body_class}
    = render 'layouts/navbar_edit', site: @site
    - if current_user and not(current_user.confirmed?)
      .col-md-12
        .alert.alert-danger
          =t 'not_confirmed'
    = render 'layouts/flashs'
    = yield
    - if current_user
      = intercom_script_tag({ user_id: Digest::SHA1.hexdigest("#{ENV['DOMAIN']}-#{current_user.email}"),
                              email: current_user.email,
                              created_at: current_user.created_at,
                              custom_data: {pages: Page.count, images: Image.count, site: ENV['DOMAIN']}})
